/********** Header section **********/
.header-image {
  height: 25em;
}

@media screen and (max-width: 1000px) {
  .header-image {
    height: 12em;
  }
}

.header-text h1 {
  font-size: 50px;
}

/********** About us section **********/
#about-us a {
  color: black;
  text-decoration: underline;
  font-style: italic;
}

#about-us a:hover {
  font-weight: 500;
}

/********** Top 4 picks **********/
#top-4-picks .card {
  width: 285px;
}

#top-4-picks img {
  width: 100%;
  height: auto;
}

/********** Feedback cards **********/
.stars ion-icon {
  padding-bottom: 3px;
}

.card feedback {
  padding: 20px;
  width: 500px;
  justify-content: center;
}


card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Add styles for the paragraph text */
.card-text p {
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

/*========== GALLERY==========*/
.gallery {
  text-align: center;
}

.gallery__title {
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.gallery__subtitle {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.gallery__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, .15);
  padding: .75rem;
  text-align: center;
  justify-content: top;
  min-width: 100px;
}

.gallery__img {
  object-fit: contain;
  height: 120px;
  /* Maintain aspect ratio */
  align-self: center;
  margin-bottom: var(--mb-2);
}

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.grow-on-hover {
  transition: transform 0.3s ease;
  /* Add a smooth transition effect */
}

.grow-on-hover:hover {
  transform: scale(1.1);
  /* Scale the div by 10% on hover */
}

.section {
  padding: 4rem 0 2rem;
}

.services__container,
.gallery__container {
  margin-top: var(--mb-6);
}

.gallery__container {
  grid-template-columns: repeat(3, 210px);
  column-gap: 3rem;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

