body {
	background-color: #12181f;
	color: white;
  }
  
  h1 {
	  text-align: center;
	  font-weight: 700;
	  font-size: 50px;
  }
  
  p, span {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin: 1% 1% 2% 0;
}
  
  .restart {
	  display: flex;
	  justify-content: center;
  }
  
  .restart button {
	  padding: 8px 16px;
	  font-size: 30px;
	  border-radius: 10px;
	  background-color: #27ae60;
	  color: white;
  }
  
  .card {
	height: 90%;
	width: 100%;
	border-radius: 10px;
	background-color: white;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
  }
  
  .front-image {
	width: 70%;
	height: 70%;
  }
  
  .card.flipped {
	transform: rotateY(180deg);
  }
  
  .front, .back {
	  backface-visibility: hidden;
	  position: absolute;
	  border-radius: 10px;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
  }
  
  .card .front {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .card .back {
	background-position: center center;
	background-size: cover;
	backface-visibility: hidden;
  }
  
  .card .front {
	transform: rotateY(180deg);
  }

   
  .grid-container {
	display: grid;
	justify-content: center;
	grid-column-gap: 2%;
	grid-row-gap: 0;
  }

  /* Adjustments for different difficulty levels */
.grid-container.easy {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(2, 170px);
}

.grid-container.medium {
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(3, 170px);
}

.grid-container.hard {
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: repeat(4, 170px);
}

.infoScore{
	display: flex;
	flex-flow: row wrap;
	width: 50%;
    margin-left: 40%;
}