body { 
    font-family: sans-serif;
} 

.main{
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.UserDetails { 
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 35%; 
    margin-left: 5%;
	text-align: center; 
    display: flex;  
	justify-content: center;  
	line-height: 1.5; 
	background: #f3f3f3; 
    flex-direction: column; 
} 

.grades{
    background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 35%; 
	text-align: center; 
    display: flex;  
	justify-content: center;  
	line-height: 1.5; 
	background: #f3f3f3; 
    flex-direction: column; 
    margin-right: 10%;
}

h1 { 
	color: #76a1c7; 
} 

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #555; 
	font-weight: bold; 
} 

button { 
	padding: 15px; 
	border-radius: 10px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer; 
	background-color: rgb(95, 145, 183); 
	width: 100%; 
	font-size: 16px; 
} 

a {
	text-decoration: none
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

embed {
    width: 100%;
}

.UserDetails div{
    display: flex;
}