/***  Profile style  ***/

body { 
    font-family: sans-serif;
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(250, 250, 250), rgb(95, 145, 183));
} 

.main{
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.UserDetails { 
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 35%; 
	text-align: center; 
    display: flex;  
	justify-content: center;  
	line-height: 1.5; 
	background: #f3f3f3; 
    flex-direction: column; 
	margin: auto;
	margin-top: 2%;
	align-content: center;
} 

.grades{
    background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 35%; 
	text-align: center; 
    display: flex;  
	justify-content: center;  
	line-height: 1.5; 
	background: #f3f3f3; 
    flex-direction: column; 
    margin:auto;
	margin-top: 3%;
}

h1,h4 { 
	color: #76a1c7; 
} 

h4{
	
}


label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #555; 
	font-weight: bold; 
} 

a {
	text-decoration: none
}

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}

embed {
    width: 100%;
}

.UserDetails section{
    display: flex;
}



/* Table */

table {
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centers the table horizontally */
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Optional: Styling for table headers if needed */
thead th {
    font-weight: bold;
}

/* Optional: Styling for table rows if needed */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
