.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 10px; /* Add rounded corners for a nicer look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  line-height: 100px;
  font-size: 36px; /* Adjust font size for better readability */
  text-align: center; /* Center the text horizontally */
  font-weight: bold; /* Make the text bold */
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Darker text color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smoother hover effect */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

/* Add hover effect */
.cell:hover {
  background-color: #e0e0e0; /* Darken the background color on hover */
  color: #000; /* Change text color on hover */
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3,auto);
  width:225px;
  margin: auto;
  margin-left: 40%;
  /* background-color: rgb(255, 255, 255); */
}

#container{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(250, 250, 250), rgb(95, 145, 183));
}

h1{
  color:black;
}

#restartBtn{
  font-size: 20px;
}

.gameName {
  margin-bottom: 5%;
  font-size: 2em; /* Increase font size for emphasis */
  font-weight: bold; /* Add font weight for emphasis */
  color: #333; /* Specify text color */
}

#statusText {
  color: rgb(95, 145, 183);
  font-size: 1.4em;
  font-weight: bold; /* Add font weight for emphasis */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
  font-family: Arial, sans-serif; /* Optional: Specify a different font family */
}
